*{
    box-sizing: border-box;
}
body{
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.button{
    background: #66D2CF;
    border-radius: 6px;
    width: 217px;
    height: 56px;
    border: 2px solid #66D2CF;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
    padding: 15px 25px 16px 25px ;
}

.button:hover{
    background: #fff;
    color: #66D2CF;
}

.button:active{
    opacity: 0.85;
}

/* Header */

.logo{
    width: 236px;
    height: 26px;
}

.nav , .navbar{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav{
    margin-right: 33px;
}

.navbar{
    justify-content: space-between;
    padding: 34px 0;
    background-color: white;
}

.header{
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav_items > a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    padding: 5px 7px;
    margin-left: 33px;
    border-bottom: rgba(255, 255, 255, 0) solid 3px;
}

.nav_items > a:hover{
    color: black;
    border-bottom: #2C343E solid 3px;
}

.nav_items > a:active{
    opacity: 40%;
}

.header_info{
    background: url(../img/Bitmap.png) no-repeat;
    width: 1300px;
    height: 698px;
    position: relative;
}

.h1{    
    font-family: 'Fraunces', serif;

    height: 145px;
    width: 493px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.header_paragraph{
    font-family: 'Barlow', sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    height: 78px;
    width: 445px;
    border-radius: nullpx;
}

.header_items{
    position: absolute;
    width: 493px;
    height: 367px;
    left: 105px;
    top: 100px;
}

/* Main */

/* Section 1 */

.section1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 108px ;
}

.card{
    text-align: center;
}

.card > h2{
    font-family: 'Fraunces', serif;

    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.card > p{
    font-family: 'Barlow', sans-serif;

    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* Section 2 */

.section2{
    height: 900px;
}

.section2_info{
    background-color: #282F38;
    display: flex;
    justify-content: center;
    height: 600px;
    border-radius: 8px;
    position: relative;
}
.section2_text{
    margin-top: 112px;
    text-align: center;
    width: 540px;
}

.section2_text > h2{
    font-family: 'Fraunces', serif;

    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.section2_text > p{
    font-family: 'Barlow', sans-serif;

    font-weight: 400;
    font-size: 16px;
    width: 540px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
} 

.cards{
    position: absolute;
    top: 400px;
    display: flex;
    left: 75px;

}

.section2-card{
    margin-left: 30px;
    width: 350px;
    height: 382px;
    background: #0E8784;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card_image{
    margin-top: 72px;
    width: 71px;
    height: 72px;
}

.card_image3::after{
    content: "";
    background: url(../img/moshia.png) no-repeat;
    position: absolute; 
    margin-top: 92px;
    width: 100%;
    height: 100%;
    left: 140px;
}

.card_image2::after{
    content: "";
    background: url(../img/padarka_idishi.png) no-repeat;
    position: absolute; 
    margin-top: 80px;
    width: 100%;
    height: 100%;
    left: 140px;
}

.card_image1::after{
    content: "";
    background: url(../img/coffee_donasi.png) no-repeat;
    position: absolute; 
    margin-top: 80px;
    width: 100%;
    height: 100%;
    left: 140px;
}


.sec2_card_text{
    margin-top: 160px;
    text-align: center;
}

.sec2_card_text > h3{
    font-family: 'Fraunces', serif;

    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.sec2_card_text > p{
    font-family: 'Barlow', sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    width: 255px; 
}

/* Footer */

footer{
    background-color: #2C343E;
}

.footer_navbar{
    margin-left: 85px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 34px 0;
}

