@charset "UTF-8" ;

@import "./normalize";

@import "./container";

@import "./generals";

@import "./header";
// @import "./main_sections";
@import "./main_section1";
@import "./main_section2";
@import "./main_section3";
@import "./main_gradients";

@import "./footer";